[submodule "components/blackmagic/blackmagic-fw"]
	path = components/blackmagic/blackmagic-fw
	url = https://github.com/flipperdevices/blackmagic.git
[submodule "components/mlib/mlib"]
	path = components/mlib/mlib
	url = https://github.com/P-p-H-d/mlib.git
	url = https://github.com/hathach/tinyusb
[submodule "components/dap-link/free-dap"]
	path = components/dap-link/free-dap
	url = https://github.com/ataradov/free-dap
