[submodule "components/blackmagic/blackmagic-fw"]
	path = components/blackmagic/blackmagic-fw
	url = https://github.com/flipperdevices/blackmagic.git
[submodule "components/mlib/mlib"]
	path = components/mlib/mlib
	url = https://github.com/P-p-H-d/mlib.git
[submodule "components/tinyusb/tinyusb"]
	path = components/tinyusb/tinyusb
	url = https://github.com/hathach/tinyusb
[submodule "components/apa102"]
	path = components/apa102
	url = https://github.com/MisterRager/ESP32_APA102
[submodule "apa102"]
	url = https://github.com/litui/ESP32_APA102
[submodule "apa102/"]
	branch = updates-for-4.4
[submodule "components/esp-idf-dotstar-led-lib"]
	path = components/esp-idf-dotstar-led-lib
	url = https://github.com/sahilkhanna/esp-idf-dotstar-led-lib
